/* 
Colors used
Primary color (lilac): #e6e6ff ;
*/

/*GENERAL Body
TYPOGRAPHY Headings Paragraph Links Unordered Lists / Ordered lists
GLOBAL Tables Links Buttons Header Footer
ANIMATIONS
COMPONENT LEVEL (Things go here that would go on all the pages but be related to a 
specific part of the page, meaning like if you had something you repeated on every page
 – put that here.)
PAGE SPECIFIC Page specific styles. (Styles used only on particular pages)
MEDIA QUERIES*/



* {
  box-sizing: border-box;
}


/* Body */

body {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, p {
  line-height: 1.4;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.18em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

/* p {
  font-size: 1.25em;
  font-weight: 300;
} */

/* Image */

img {
  width: 100%;
}

/* header */

header {
  background-color: #e6e6ff;
  padding: 10px;
  /* margin: 10px; */
}


/* links */

a {
  color: #000000;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #313131;
}
a:hover,
a:focus {
  color: #abd5e9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #216483;
}


/* Buttons */

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #f0f8ff;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border: 2px solid #2a83ac;
  border-radius: 10px;
  /* border-bottom: 2px solid #216483; width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #216483;
}

.button.contact {
  background-color: #f0f8ff;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #2a83ac;
  
}

.button.contact:hover {
  background-color: #f0f8ff;
  color: #000000;
}

.button.resume {
  background-color:  #f0f8ff;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #2a83ac;
}


/* Layout styling */

.container {
  padding: 0 15px;
}

.col-sm-1 {width: 8.33%;} 
.col-sm-2 {width: 16.66%;} 
.col-sm-3 {width: 25%;} 
.col-sm-4 {width: 33.33%;} 
.col-sm-5 {width: 41.66%;} 
.col-sm-6 {width: 50%;} 
.col-sm-7 {width: 58.33%;} 
.col-sm-8 {width: 66.66%;} 
.col-sm-9 {width: 75%;} 
.col-sm-10 {width: 83.33%;} 
.col-sm-11 {width: 91.66%;} 
.col-sm-12 {width: 100%;}


#work .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right for index page */
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero p {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #e6e6ff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  width: [object Object]px; 
  height: [object Object]px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed; 
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #222121;
}

nav > ul > li > a:visited { /* visited link */
  color: #636262;
}
nav > ul > li > a:hover {
  color: #abd5e9;
  text-decoration: underline;
}

nav > ul > li > a:active { /* selected link */
  color: #216483;
}

/* Hero */

#hero {
  text-align: center;
  background-color: #e6e6ff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

main {
  padding-top: 133px;
}

/* About page */

#about, #story {
  text-align: center;
}

#story {
  background-color: #e6e6ff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

p {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
}

h2 {
  text-align: center;
  box-sizing: border-box;
}
h3 {
  font-size: 16px;
}

ul > li {
  font-size: 14px;
  font-weight: 400;
}





/* footer */

#contact .container  {
  text-align: center;
}

#contact .container > h2  {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#contact .container > p {
  text-align: center;
}

#contact .icon > ul {
  list-style-type: none;
  padding: 5px 0;
}
#contact .icon > ul > li {
  display: inline-block;
}
#contact .icon > ul > li > a {
  padding: 0 10px;
}



/* media queries */

/* ==============================
Medium devices (640px and larger)
================================= */

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  h2 {
    font-size: 1.75em;
    text-align: left;
    padding-left: 10px;
  }
  p {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
  #story {
    padding: 20px 0 40px 0;
  }

  .button.resume {
    margin: 30px 0;
  } 

  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}

  #about h3 { margin-top: 0;}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 300 */
    line-height: 1.8; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  h2 {
    font-size: 1.75em;
    text-align: left;
    padding-left: 10px;
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
  ul > li {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}